
/*----------------------------------------------------------------------HTML Tags---------------------------------------------------------------------*/
/*body{
	background-color: white;
	background-image: url("images/background.jpg");
}
*/


h1{
	color: firebrick;
	text-shadow: 1px 1px 1px #111111;
	
	}

a{ 
	text-decoration:none;
}

/*--------------------------------------------------------------------------Classes------------------------------------------------------------------*/

.conteiner{
	height: 100%;
	width: 100%;
	padding:10px;
	background-color: purple;
}

.leftSide{
	left: 0;
	height: 100%;
	width: 30%;
	background-color: #ff0000;
}


.rightSide{
	right: 0;
	height: 100%;
	width: 30%;
	background-color: #2afd00;
}

.divfoto{
	background-color:rgba(0, 0 , 0, 1);
	overflow: hidden;
	display:inline-block;
	vertical-align:middle;
	padding:11px;
	border-radius: 50%;
	height: 200px;
	width: 200px;
	margin-bottom: -50px;
}


.divfoto img{
	width: 100%;
	object-fit: cover;
	border-radius: 50%;
}

/*------------------------------------------------------------------------Div's ID's------------------------------------------------------------------*/




#div1{
	border-radius:25px;
	width: 30%;
	height: 100px;
	margin: 20px;
	background-color: rgba(0, 0 , 0, 0.85);
	text-shadow: 1px 1px 1px #111111;
	font-size: 30px;
	color: red;
	display: table-cell;
    vertical-align:middle;
    text-align:center;
}

#div2{
	width: 12%;
	height: 100px;
	margin: 4px;
	background-color:rgb(34, 10, 1);
	display: table-cell;
   	vertical-align:middle;
	padding-left: 10px;
	color:white;
	clear:both;
	left: 10px;
}

#div3{
	float:left;
}
#icons{
	float:left;
	margin-top:65px;
}

